<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.3.0" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.PowerShell.2.ReferenceAssemblies" version="1.0.0" targetFramework="net35" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.11.2290" targetFramework="net35" developmentDependency="true" />
  <package id="Nerdbank.GitVersioning" version="2.3.186" targetFramework="net35" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net35" developmentDependency="true" />
</packages>